
/* Responsive The Index.html */
.desktop-img {
    display: none;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
.desktop-menu {
   position: absolute;
   animation-name: menu-animate;
   animation-duration: 0.9s;
   animation-iteration-count: 1;
   animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   animation-fill-mode: forwards;
   width: 100%;
   margin-right: -16px;
   top: -100px;
   right: 1em;
   display: flex;
   justify-content: flex-end;
   z-index: 2;
}
.desktop-menu-2 {
   background-color: transparent;
   box-shadow: 2px 1px 2px white;
}
.desktop-menu ul li {
   list-style-type: none;
}
.desktop-menu a {
   text-decoration: none;
   color: white;
   font-size: 2vw;
   transition: 0.5s ease-out;
}
.menu-color a {
   color: black;
}
.desktop-menu li {
   margin: 2vw;
   margin-left: 10px;
}
.desktop-menu li a:hover {
   border-bottom: 0.2em solid red;
   padding-bottom: 0.5em;
   color: green;
   filter: drop-shadow(2px 3px 8px black);
}
@keyframes menu-animate {
   0% {
         top: -100px;
   }
   100% {
        top: 0;
        list-style-type: none;
   }
}

.follow-me {
   /* position: relative;
   top: -30vh;
   left: 75vh; */
   transform: translate(75vh, -0vh);
   animation-name: follow-me;
   animation-duration: 0.9s;
   animation-iteration-count: 1;
   animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   animation-delay: 0.9s;
   animation-fill-mode: forwards;
   opacity: 0;
}
@keyframes follow-me {
   0% {
      transform: translate(75vh, -0vh);
      opacity: 0;
   }
   100% {
      transform: translate(75vh, -30vh);
      opacity: 1;
   }
}
.follow-btn {
   background: transparent;
   padding: 20px 30px;
   color: white;
   font-size: 2em;
   border: 3px solid black;
   border-radius: 15px;
   transition: 0.6s all;
}
.github {
   color: rgb(0, 0, 0);
   border: 3px solid rgb(0, 0, 0);
   margin-right: 70px;
}
.github:hover {
   color: rgb(0, 0, 0);
   border: 3px solid rgb(0, 0, 0);
   /* Optional */
   background-color: black;
   color: white;
   border: 3px solid white;
}
.linkedin {
   color: rgb(0, 119, 181);
   border: 3px solid rgb(0, 119, 181);
}
.linkedin:hover {
   color: rgba(0, 119, 181, 1);
   border: 3px solid rgba(0, 119, 181, 1);
   /* Optional */
   background-color: rgb(0, 119, 181);
   color: white;
   border: 3px solid white;

}
/* Auto-Typing....... */

.autotype a {
   color: white;
   position: absolute;
   top: 200px;
   left: 40px;
}

/* ////////// */
@media screen and (min-width:500px) {
   .bg-image, .menu-bar, .menu-btn, .xclose, .flow ,.drop-menu {
      display: none;
   }
   .desktop-img {
    display: block;
   }
   .i-frame {
      height: 602px;
   }
   footer {
      position: relative;
      width: 100%;
      bottom: 0;
      background-color: rgba(0, 0, 255, 0.438) !important;
      padding: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      border-top: 5px solid red;
      border-bottom: 5px solid red;
  }
 .footer-home {
   background-color: black !important;
 }
}



@media screen and (max-width:500px) {
   .desktop-menu, .follow-me {
      display: none;
   }
   .autotype a {
      color: whitesmoke;
      position: absolute;
      top: 200px;
      left: 25px;
   }
}




/* Responsive The About.html */




@media screen and (min-width:500px) {

   .about-header, .about-bg {
       display: none;
   }

   .about-main {
      display: flex;
      justify-content: space-between;
      height: 70vh;
      width: 90%;
      margin-left: 5vw;
      position: relative;
      top: 7rem;
      padding: 20px;
      box-sizing: border-box;
      transform: translate(0, 1vh);
      transform: translate(0, -600px);
      animation-name: about-info;
      animation-duration: 0.9s;
      animation-iteration-count: 1;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      border: none;
      border-radius: 27px;
      background: #e0e0e0;
      box-shadow:  5px 5px 9px #a6a6a6,
             -5px -5px 9px #ffffff; 
      z-index: 3;
   }
   .h1-title {
      color: black;
      position: absolute;
      left: 4vw;
      top: 1.9vw;
  }
   @keyframes about-info {
      0% {
         transform: translate(0, -600px);
      }
      100% {
         transform: translate(0, 6px);
      }
   }

   .about-image {
      height: 63vh;
      width: 27vw;
      background-size: cover;
      transform: translate(0 , 0vh);
      border: 2px solid black;
      /* padding-left: 2vw; */
  }
  .about-info {
   transform: translate(0, 6vh);
}

.about-text, .about-name {
   letter-spacing: 0.1em;
   line-height: 1.9em;
}

.iframe-title {
   margin-bottom: 7vh;
}
.my-info {
   position: absolute;
   top: 40rem;
   transform: translateX(6.5rem);
}
.my-skills , .my-hobbies {
   height: 100vh;
   transition: 0.3s ease-in-out;
}
.my-hobbies .text-2 {
   line-height: 6rem;
}
.my-skills {
   color: red;
}
.form {
   position: relative;
   top: 70rem;
   margin-bottom: -20rem;
   padding-bottom: 3rem;
   gap: 20rem;
}
.submit-btn {
   width: 20%;
}
.sub-btn {
   transform: translate(-210px, 0px);
}
.contact {
   font-size: 3rem;
}
.about-input {
   padding: 20px 70px;
   border: 3px solid navajowhite;
   /* font-size: 2rem; */
}
.about-input:focus {
   box-shadow: 9px 13px 15px navajowhite;
}
.about-input::placeholder {
   font-size: 1.7em;
   color: silver;
}




}

@media screen and (max-width:500px) {
   .follow-me {
      display: none;
   }
  
}


/*    REsponsive Gallery  */

@media screen and (min-width:500px) {
  
   .gallery {
      display: grid;
      grid-template-columns: auto auto auto auto;
   }






}


/* Styling Projects Sections */

@media screen and (min-width:500px) {
   
   .project-main {
      position: relative;
      top: 8rem;
      margin-bottom: 10rem;
   }
 .description {
   font-size: 23px;
   line-height: 2rem;
 }
.project-item h4 a {
   font-size: 35px;
   transition: 0.4s all;
   padding: 10px 0;
}
.project-item h4 a:hover {
   border-bottom: 2px solid white;
}

}